.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container > img {
    position: absolute;
}


.card {
    bottom: 5%;
    right: 5%;
    height: 35%; 
}

.title {
    margin-bottom: 32px;
    font-size: 52px;
}

.text {
    font-weight: 400;
    font-size: 28px;
}

.center {
    position: absolute;
    /* left: 20%; */
    display: flex;
    flex-direction: column;
}

.center > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.center span {
    position: absolute;
    color: gray;
    font-size: 18px;
    top: 5vh;
    right: 5vh;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    font-size: 32px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.center span:before {
    content: "";
    background: none;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.center span:hover {
    background-position: 0;
    cursor: pointer;
}

.center span:hover::before {
    background: #54b3d6;
    width: 100%;
}

