.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container > img {
    position: absolute;
}


.card {
    bottom: 5%;
    right: 5%;
    height: 35%; 
}

.title {
    margin-bottom: 32px;
    font-size: 52px;
}

.text {
    font-weight: 400;
    font-size: 28px;
}

.center {
    position: absolute;
    /* left: 20%; */
    display: flex;
    flex-direction: column;
}

.center > button {
    position: absolute;
    right: 95%;
    bottom: 103%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 50px;
    margin-top: 48px;
    border-radius: 24px;
    background-color: #517FA2;
    font-size: 36px;
    color: #EDF2F7;
}
