.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: none;
    background-image: url("../../public/background_blur.png");
    background-size: cover;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 90%;
    background-color: #3182ce;
}

.info > p {
    width: 70%;
    color: #edf2f7;
    font-size: 36px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55% !important;
    height: 100%;
    border: none;
    background-color: #edf2f7;
}
