.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
